<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Jumper</title>
        <!-- inject:js -->
        <script src="/js/phaser.min.js"></script>

        <script src="/js/jumper.js"></script>
        <script src="/js/curvetest.js"></script>
        <!-- endinject -->
        <% if (ENV_DEVELOPMENT) { %>
          <script src="http://localhost:35729/livereload.js"></script>
        <% } %>
    </head>
    <body>
    </body>
</html>
